In [1]:
import pandas as pd
import numpy as np

In [2]:
from sklearn import tree

In [3]:
df = pd.read_csv('PastHires.csv')

In [4]:
df.head()

,Years Experience,Employed?,Previous employers,Level of Education,Top-tier school,Interned,Hired
0,10,Y,4,BS,N,N,Y
1,0,N,0,BS,Y,Y,Y
2,7,N,6,BS,N,N,N
3,2,Y,1,MS,Y,N,Y
4,20,N,2,PhD,Y,N,N

In [6]:
def enumerar (coluna):
    return {k: v for v, k in enumerate(coluna.unique()) }
    colunas = [
        'Employed?',
        'Level of Education',
        'Top-tie scholl',
        'Interned',
        'Hired'
    ]
    for c in colunas: 
         df[c] = df[c].map(enumerar(df[c]))
    df

In [7]:
def enumerar(coluna):
    return { k: v for v, k in enumerate(coluna.unique()) }

colunas = [
    'Employed?',
    'Level of Education',
    'Top-tier school',
    'Interned',
    'Hired'
]

for c in colunas:
    df[c] = df[c].map(enumerar(df[c]))
    
df

,Years Experience,Employed?,Previous employers,Level of Education,Top-tier school,Interned,Hired
0,10,0,4,0,0,0,0
1,0,1,0,0,1,1,0
2,7,1,6,0,0,0,1
3,2,0,1,1,1,0,0
4,20,1,2,2,1,0,1
5,0,1,0,2,1,1,0
6,5,0,2,1,0,1,0
7,3,1,1,0,0,1,0
8,15,0,5,0,0,0,0
9,0,1,0,0,0,0,1
10,1,1,1,2,1,0,1
11,4,0,1,0,0,1,0
12,0,1,0,2,1,0,0

In [ ]:
def enumerar(coluna):
    return { k: v for v, k in enumerate(coluna.unique()) }

colunas = [
    'Employed?',
    'Level of Education',
    'Top-tier school',
    'Interned',
    'Hired'
]

for c in colunas:
   print(enumerar(df[c])
   # df[c] = df[c].map(enumerar(df[c]))
    
df

In [8]:
dir (df.columns)

['T',
 '__abs__',
 '__add__',
 '__and__',
 '__array__',
 '__array_priority__',
 '__array_wrap__',
 '__bool__',
 '__bytes__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__init__',
 '__init_subclass__',
 '__inv__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmul__',
 '__rpow__',
 '__rtruediv__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__unicode__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_add_comparison_methods',
 '_add_logical_methods',
 '_add_logical_methods_disabled',
 '_add_numeric_methods',
 '_add_numeric_methods_add_sub_disabled',
 '_add_numeric_methods_binary',
 '_add_numeric_methods_disabled',
 '_add_numeric_methods_unary',
 '_assert_can_do_op',
 '_assert_can_do_setop',
 '_assert_take_fillable',
 '_attributes',
 '_can_hold_identifiers_and_holds_name',
 '_can_hold_na',
 '_can_reindex',
 '_cleanup',
 '_coerce_scalar_to_index',
 '_coerce_to_ndarray',
 '_comparables',
 '_concat',
 '_concat_same_dtype',
 '_constructor',
 '_convert_arr_indexer',
 '_convert_can_do_setop',
 '_convert_for_op',
 '_convert_index_indexer',
 '_convert_list_indexer',
 '_convert_listlike_indexer',
 '_convert_scalar_indexer',
 '_convert_slice_indexer',
 '_convert_tolerance',
 '_data',
 '_deepcopy_if_needed',
 '_defer_to_indexing',
 '_deprecations',
 '_dir_additions',
 '_dir_deletions',
 '_engine',
 '_engine_type',
 '_evaluate_compare',
 '_evaluate_with_datetime_like',
 '_evaluate_with_timedelta_like',
 '_filter_indexer_tolerance',
 '_format_attrs',
 '_format_data',
 '_format_native_types',
 '_format_space',
 '_format_with_header',
 '_formatter_func',
 '_get_attributes_dict',
 '_get_consensus_name',
 '_get_fill_indexer',
 '_get_fill_indexer_searchsorted',
 '_get_grouper_for_level',
 '_get_level_number',
 '_get_level_values',
 '_get_loc_only_exact_matches',
 '_get_names',
 '_get_nearest_indexer',
 '_get_string_slice',
 '_get_unique_index',
 '_has_complex_internals',
 '_id',
 '_infer_as_myclass',
 '_inner_indexer',
 '_invalid_indexer',
 '_is_memory_usage_qualified',
 '_is_numeric_dtype',
 '_is_strictly_monotonic_decreasing',
 '_is_strictly_monotonic_increasing',
 '_isnan',
 '_join_level',
 '_join_monotonic',
 '_join_multi',
 '_join_non_unique',
 '_join_precedence',
 '_left_indexer',
 '_left_indexer_unique',
 '_map_values',
 '_maybe_cast_indexer',
 '_maybe_cast_slice_bound',
 '_maybe_promote',
 '_maybe_update_attributes',
 '_mpl_repr',
 '_na_value',
 '_nan_idxs',
 '_ndarray_values',
 '_outer_indexer',
 '_reduce',
 '_reindex_non_unique',
 '_reset_cache',
 '_reset_identity',
 '_scalar_data_error',
 '_searchsorted_monotonic',
 '_set_names',
 '_shallow_copy',
 '_shallow_copy_with_infer',
 '_simple_new',
 '_sort_levels_monotonic',
 '_string_data_error',
 '_summary',
 '_to_embed',
 '_to_safe_for_reshape',
 '_try_convert_to_int_index',
 '_typ',
 '_unpickle_compat',
 '_update_inplace',
 '_validate_for_numeric_binop',
 '_validate_for_numeric_unaryop',
 '_validate_index_level',
 '_validate_indexer',
 '_validate_names',
 '_values',
 '_wrap_joined_index',
 '_wrap_union_result',
 'all',
 'any',
 'append',
 'argmax',
 'argmin',
 'argsort',
 'asi8',
 'asof',
 'asof_locs',
 'astype',
 'base',
 'contains',
 'copy',
 'data',
 'delete',
 'difference',
 'drop',
 'drop_duplicates',
 'dropna',
 'dtype',
 'dtype_str',
 'duplicated',
 'empty',
 'equals',
 'factorize',
 'fillna',
 'flags',
 'format',
 'get_duplicates',
 'get_indexer',
 'get_indexer_for',
 'get_indexer_non_unique',
 'get_level_values',
 'get_loc',
 'get_slice_bound',
 'get_value',
 'get_values',
 'groupby',
 'has_duplicates',
 'hasnans',
 'holds_integer',
 'identical',
 'inferred_type',
 'insert',
 'intersection',
 'is_',
 'is_all_dates',
 'is_boolean',
 'is_categorical',
 'is_floating',
 'is_integer',
 'is_interval',
 'is_lexsorted_for_tuple',
 'is_mixed',
 'is_monotonic',
 'is_monotonic_decreasing',
 'is_monotonic_increasing',
 'is_numeric',
 'is_object',
 'is_type_compatible',
 'is_unique',
 'isin',
 'isna',
 'isnull',
 'item',
 'itemsize',
 'join',
 'map',
 'max',
 'memory_usage',
 'min',
 'name',
 'names',
 'nbytes',
 'ndim',
 'nlevels',
 'notna',
 'notnull',
 'nunique',
 'putmask',
 'ravel',
 'reindex',
 'rename',
 'repeat',
 'searchsorted',
 'set_names',
 'set_value',
 'shape',
 'shift',
 'size',
 'slice_indexer',
 'slice_locs',
 'sort',
 'sort_values',
 'sortlevel',
 'str',
 'strides',
 'summary',
 'symmetric_difference',
 'take',
 'to_frame',
 'to_native_types',
 'to_series',
 'tolist',
 'transpose',
 'union',
 'unique',
 'value_counts',
 'values',
 'view',
 'where']

In [16]:
features, target = df.columns.tolist(), ['Hired']
features.remove('Hired')
features, target

(['Years Experience',
  'Employed?',
  'Previous employers',
  'Level of Education',
  'Top-tier school',
  'Interned'],
 ['Hired'])

In [17]:
dir(tree)

['DecisionTreeClassifier',
 'DecisionTreeRegressor',
 'ExtraTreeClassifier',
 'ExtraTreeRegressor',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '_criterion',
 '_splitter',
 '_tree',
 '_utils',
 'export',
 'export_graphviz',
 'tree']

In [19]:
clf  = tree.DecisionTreeClassifier()
X, y = df[features], df[target]
clf.fit(X, y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [21]:
inp= [[20, 1 , 2, 2 , 1 , 0] ]

clf.predict(inp)

array([1])

In [ ]:
from IPython.display import Image
from sklearn.externals.six import StringIO
import pydotplus

dot_data = StringIO()

tree.export_graphviz(
clf, 
out_file=dot_data,
feature_names=features
)

graph = pydotplus.graph_from_dot_data(dot_data.getvalue())
Image(graph.create_png)