In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('basics').getOrCreate()

In [3]:
df = spark.read.json('funcionarios.json')

In [4]:
df.show()

+---------+----------------+-------+---------------+-------+
|    cargo|    departamento|id_func|           nome|salario|
+---------+----------------+-------+---------------+-------+
| Analista|        Projetos|      1|  Marcio Santos|   5000|
|Instrutor|     Treinamento|      2|   Bruno Garcia|   4000|
|Vendedora|          Vendas|      3|    Celia Silva|   3500|
| Gerencia|Recursos Humanos|      4|   Beatriz Dias|   5500|
|Instrutor|     Treinamento|      5| Sandro Correia|   4200|
| Analista|        Projetos|      6|   Leticia Dias|   5100|
| Analista|        Projetos|      7|   Cacio Farias|   5100|
| Gerencia|   Administracao|      8|     Cezar Maia|   7000|
|Vendedora|          Vendas|      9|   Amanda Nunes|   3500|
|Vendedora|          Vendas|     10|   Paula Priore|   3500|
| Analista|        Projetos|     11|     Carla Neto|   4000|
|Vendedora|          Vendas|     12|   Marcia Costa|   2700|
| Analista|Recursos Humanos|     13|  Luciana Prado|   4100|
|Vendedora|          Vendas|     14| Roberta Amaral|   2800|
|Instrutor|     Treinamento|     15|Rogerio Ribeiro|   4000|
|Vendedora|          Vendas|     16|   Rosana Rocha|   3000|
| Analista|        Projetos|     17|Claudio Queiroz|   6500|
| Gerencia|   Administracao|     18|   Diego Chaves|   7500|
|Instrutor|     Treinamento|     19|Sergio Nogueira|   5300|
|Vendedora|          Vendas|     20|  Samantha Reis|   4000|
+---------+----------------+-------+---------------+-------+

In [5]:
df.createOrReplaceTempView('funcionarios')

In [6]:
spark.sql('SELECT *FROM funcionarios').show()

+---------+----------------+-------+---------------+-------+
|    cargo|    departamento|id_func|           nome|salario|
+---------+----------------+-------+---------------+-------+
| Analista|        Projetos|      1|  Marcio Santos|   5000|
|Instrutor|     Treinamento|      2|   Bruno Garcia|   4000|
|Vendedora|          Vendas|      3|    Celia Silva|   3500|
| Gerencia|Recursos Humanos|      4|   Beatriz Dias|   5500|
|Instrutor|     Treinamento|      5| Sandro Correia|   4200|
| Analista|        Projetos|      6|   Leticia Dias|   5100|
| Analista|        Projetos|      7|   Cacio Farias|   5100|
| Gerencia|   Administracao|      8|     Cezar Maia|   7000|
|Vendedora|          Vendas|      9|   Amanda Nunes|   3500|
|Vendedora|          Vendas|     10|   Paula Priore|   3500|
| Analista|        Projetos|     11|     Carla Neto|   4000|
|Vendedora|          Vendas|     12|   Marcia Costa|   2700|
| Analista|Recursos Humanos|     13|  Luciana Prado|   4100|
|Vendedora|          Vendas|     14| Roberta Amaral|   2800|
|Instrutor|     Treinamento|     15|Rogerio Ribeiro|   4000|
|Vendedora|          Vendas|     16|   Rosana Rocha|   3000|
| Analista|        Projetos|     17|Claudio Queiroz|   6500|
| Gerencia|   Administracao|     18|   Diego Chaves|   7500|
|Instrutor|     Treinamento|     19|Sergio Nogueira|   5300|
|Vendedora|          Vendas|     20|  Samantha Reis|   4000|
+---------+----------------+-------+---------------+-------+

In [7]:
def execute_query(query):
    spark.sql(query).show()

In [8]:
execute_query('SELECT * FROM funcionarios')

+---------+----------------+-------+---------------+-------+
|    cargo|    departamento|id_func|           nome|salario|
+---------+----------------+-------+---------------+-------+
| Analista|        Projetos|      1|  Marcio Santos|   5000|
|Instrutor|     Treinamento|      2|   Bruno Garcia|   4000|
|Vendedora|          Vendas|      3|    Celia Silva|   3500|
| Gerencia|Recursos Humanos|      4|   Beatriz Dias|   5500|
|Instrutor|     Treinamento|      5| Sandro Correia|   4200|
| Analista|        Projetos|      6|   Leticia Dias|   5100|
| Analista|        Projetos|      7|   Cacio Farias|   5100|
| Gerencia|   Administracao|      8|     Cezar Maia|   7000|
|Vendedora|          Vendas|      9|   Amanda Nunes|   3500|
|Vendedora|          Vendas|     10|   Paula Priore|   3500|
| Analista|        Projetos|     11|     Carla Neto|   4000|
|Vendedora|          Vendas|     12|   Marcia Costa|   2700|
| Analista|Recursos Humanos|     13|  Luciana Prado|   4100|
|Vendedora|          Vendas|     14| Roberta Amaral|   2800|
|Instrutor|     Treinamento|     15|Rogerio Ribeiro|   4000|
|Vendedora|          Vendas|     16|   Rosana Rocha|   3000|
| Analista|        Projetos|     17|Claudio Queiroz|   6500|
| Gerencia|   Administracao|     18|   Diego Chaves|   7500|
|Instrutor|     Treinamento|     19|Sergio Nogueira|   5300|
|Vendedora|          Vendas|     20|  Samantha Reis|   4000|
+---------+----------------+-------+---------------+-------+

In [9]:
execute_query('SELECT DISTINCT cargo FROM funcionarios')

+---------+
|    cargo|
+---------+
|Vendedora|
|Instrutor|
| Gerencia|
| Analista|
+---------+

In [10]:
execute_query('SELECT * FROM funcionarios WHERE Salario > 4000')

+---------+----------------+-------+---------------+-------+
|    cargo|    departamento|id_func|           nome|salario|
+---------+----------------+-------+---------------+-------+
| Analista|        Projetos|      1|  Marcio Santos|   5000|
| Gerencia|Recursos Humanos|      4|   Beatriz Dias|   5500|
|Instrutor|     Treinamento|      5| Sandro Correia|   4200|
| Analista|        Projetos|      6|   Leticia Dias|   5100|
| Analista|        Projetos|      7|   Cacio Farias|   5100|
| Gerencia|   Administracao|      8|     Cezar Maia|   7000|
| Analista|Recursos Humanos|     13|  Luciana Prado|   4100|
| Analista|        Projetos|     17|Claudio Queiroz|   6500|
| Gerencia|   Administracao|     18|   Diego Chaves|   7500|
|Instrutor|     Treinamento|     19|Sergio Nogueira|   5300|
+---------+----------------+-------+---------------+-------+

In [11]:
df.printSchema()

root
 |-- cargo: string (nullable = true)
 |-- departamento: string (nullable = true)
 |-- id_func: long (nullable = true)
 |-- nome: string (nullable = true)
 |-- salario: long (nullable = true)

In [12]:
from pyspark.sql.types import ( 
    StructField, 
    StringType, 
    IntegerType, 
    StructType
                               )
schema = StructType(fields=[
    StructField('cargo',StringType(), nullable=True), 
    StructField('departamento',StringType(), nullable=True), 
    StructField('id_func', IntegerType(), nullable=True), 
    StructField('nome', StringType(), nullable=True),
    StructField('salario', StringType(), nullable=True)
                           ])
df  = spark.read.json('funcionarios.json', schema)

In [13]:
df.select('nome')

DataFrame[nome: string]

In [14]:
df.select(['nome','id_func']).show()

+---------------+-------+
|           nome|id_func|
+---------------+-------+
|  Marcio Santos|      1|
|   Bruno Garcia|      2|
|    Celia Silva|      3|
|   Beatriz Dias|      4|
| Sandro Correia|      5|
|   Leticia Dias|      6|
|   Cacio Farias|      7|
|     Cezar Maia|      8|
|   Amanda Nunes|      9|
|   Paula Priore|     10|
|     Carla Neto|     11|
|   Marcia Costa|     12|
|  Luciana Prado|     13|
| Roberta Amaral|     14|
|Rogerio Ribeiro|     15|
|   Rosana Rocha|     16|
|Claudio Queiroz|     17|
|   Diego Chaves|     18|
|Sergio Nogueira|     19|
|  Samantha Reis|     20|
+---------------+-------+

In [15]:
df.printSchema()

root
 |-- cargo: string (nullable = true)
 |-- departamento: string (nullable = true)
 |-- id_func: integer (nullable = true)
 |-- nome: string (nullable = true)
 |-- salario: string (nullable = true)

In [16]:
df.withColumn('gratificacao',df['salario']* 0.8).show()

+---------+----------------+-------+---------------+-------+------------+
|    cargo|    departamento|id_func|           nome|salario|gratificacao|
+---------+----------------+-------+---------------+-------+------------+
| Analista|        Projetos|      1|  Marcio Santos|   5000|      4000.0|
|Instrutor|     Treinamento|      2|   Bruno Garcia|   4000|      3200.0|
|Vendedora|          Vendas|      3|    Celia Silva|   3500|      2800.0|
| Gerencia|Recursos Humanos|      4|   Beatriz Dias|   5500|      4400.0|
|Instrutor|     Treinamento|      5| Sandro Correia|   4200|      3360.0|
| Analista|        Projetos|      6|   Leticia Dias|   5100|      4080.0|
| Analista|        Projetos|      7|   Cacio Farias|   5100|      4080.0|
| Gerencia|   Administracao|      8|     Cezar Maia|   7000|      5600.0|
|Vendedora|          Vendas|      9|   Amanda Nunes|   3500|      2800.0|
|Vendedora|          Vendas|     10|   Paula Priore|   3500|      2800.0|
| Analista|        Projetos|     11|     Carla Neto|   4000|      3200.0|
|Vendedora|          Vendas|     12|   Marcia Costa|   2700|      2160.0|
| Analista|Recursos Humanos|     13|  Luciana Prado|   4100|      3280.0|
|Vendedora|          Vendas|     14| Roberta Amaral|   2800|      2240.0|
|Instrutor|     Treinamento|     15|Rogerio Ribeiro|   4000|      3200.0|
|Vendedora|          Vendas|     16|   Rosana Rocha|   3000|      2400.0|
| Analista|        Projetos|     17|Claudio Queiroz|   6500|      5200.0|
| Gerencia|   Administracao|     18|   Diego Chaves|   7500|      6000.0|
|Instrutor|     Treinamento|     19|Sergio Nogueira|   5300|      4240.0|
|Vendedora|          Vendas|     20|  Samantha Reis|   4000|      3200.0|
+---------+----------------+-------+---------------+-------+------------+

In [19]:
df.withColumn('gratificacao',df['salario'] + df['id_func']).show()

+---------+----------------+-------+---------------+-------+------------+
|    cargo|    departamento|id_func|           nome|salario|gratificacao|
+---------+----------------+-------+---------------+-------+------------+
| Analista|        Projetos|      1|  Marcio Santos|   5000|      5001.0|
|Instrutor|     Treinamento|      2|   Bruno Garcia|   4000|      4002.0|
|Vendedora|          Vendas|      3|    Celia Silva|   3500|      3503.0|
| Gerencia|Recursos Humanos|      4|   Beatriz Dias|   5500|      5504.0|
|Instrutor|     Treinamento|      5| Sandro Correia|   4200|      4205.0|
| Analista|        Projetos|      6|   Leticia Dias|   5100|      5106.0|
| Analista|        Projetos|      7|   Cacio Farias|   5100|      5107.0|
| Gerencia|   Administracao|      8|     Cezar Maia|   7000|      7008.0|
|Vendedora|          Vendas|      9|   Amanda Nunes|   3500|      3509.0|
|Vendedora|          Vendas|     10|   Paula Priore|   3500|      3510.0|
| Analista|        Projetos|     11|     Carla Neto|   4000|      4011.0|
|Vendedora|          Vendas|     12|   Marcia Costa|   2700|      2712.0|
| Analista|Recursos Humanos|     13|  Luciana Prado|   4100|      4113.0|
|Vendedora|          Vendas|     14| Roberta Amaral|   2800|      2814.0|
|Instrutor|     Treinamento|     15|Rogerio Ribeiro|   4000|      4015.0|
|Vendedora|          Vendas|     16|   Rosana Rocha|   3000|      3016.0|
| Analista|        Projetos|     17|Claudio Queiroz|   6500|      6517.0|
| Gerencia|   Administracao|     18|   Diego Chaves|   7500|      7518.0|
|Instrutor|     Treinamento|     19|Sergio Nogueira|   5300|      5319.0|
|Vendedora|          Vendas|     20|  Samantha Reis|   4000|      4020.0|
+---------+----------------+-------+---------------+-------+------------+

In [22]:
dir(spark)

['Builder',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__enter__',
 '__eq__',
 '__exit__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_convert_from_pandas',
 '_createFromLocal',
 '_createFromRDD',
 '_create_from_pandas_with_arrow',
 '_create_shell_session',
 '_get_numpy_record_dtype',
 '_inferSchema',
 '_inferSchemaFromList',
 '_instantiatedSession',
 '_jsc',
 '_jsparkSession',
 '_jvm',
 '_jwrapped',
 '_repr_html_',
 '_sc',
 '_wrapped',
 'builder',
 'catalog',
 'conf',
 'createDataFrame',
 'newSession',
 'range',
 'read',
 'readStream',
 'sparkContext',
 'sql',
 'stop',
 'streams',
 'table',
 'udf',
 'version']

In [26]:
df2 = spark.read.csv('colaboradores.csv', header=True)

In [24]:
df2

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string]

In [27]:
df2.printSchema()

root
 |-- id: string (nullable = true)
 |-- nome: string (nullable = true)
 |-- cargo: string (nullable = true)
 |-- salario: string (nullable = true)
 |-- departamento: string (nullable = true)
 |-- datadeadmissao: string (nullable = true)

In [28]:
df.filter(df['salario']<3000).show() # Pandas

+---------+------------+-------+--------------+-------+
|    cargo|departamento|id_func|          nome|salario|
+---------+------------+-------+--------------+-------+
|Vendedora|      Vendas|     12|  Marcia Costa|   2700|
|Vendedora|      Vendas|     14|Roberta Amaral|   2800|
+---------+------------+-------+--------------+-------+

In [30]:
df.filter('salario<3000').show()  # SQL

+---------+------------+-------+--------------+-------+
|    cargo|departamento|id_func|          nome|salario|
+---------+------------+-------+--------------+-------+
|Vendedora|      Vendas|     12|  Marcia Costa|   2700|
|Vendedora|      Vendas|     14|Roberta Amaral|   2800|
+---------+------------+-------+--------------+-------+

In [31]:
df2.filter('salario<3000').select(['id', 'nome']).show()  #

+---+--------------+
| id|          nome|
+---+--------------+
| 12|  Marcia Costa|
| 14|Roberta Amaral|
+---+--------------+

In [32]:
df2.groupBy('departamento').count().show()

+----------------+-----+
|    departamento|count|
+----------------+-----+
|Recursos Humanos|    2|
|        Projetos|    5|
|          Vendas|    7|
|   Administracao|    2|
|     Treinamento|    4|
+----------------+-----+

In [34]:
df2.groupBy('departamento').agg({'salario' : 'mean'}).show()

+----------------+-----------------+
|    departamento|     avg(salario)|
+----------------+-----------------+
|Recursos Humanos|           4800.0|
|        Projetos|           5140.0|
|          Vendas|3285.714285714286|
|   Administracao|           7250.0|
|     Treinamento|           4375.0|
+----------------+-----------------+

In [35]:
df2.orderBy('departamento').agg({'salario' : 'mean'}).show()

+------------+
|avg(salario)|
+------------+
|      4515.0|
+------------+

In [37]:
df2.orderBy('salario').show()

+---+---------------+---------+-------+----------------+--------------+
| id|           nome|    cargo|salario|    departamento|datadeadmissao|
+---+---------------+---------+-------+----------------+--------------+
| 12|   Marcia Costa|Vendedora|2700.00|          Vendas|    2015-02-17|
| 14| Roberta Amaral|Vendedora|2800.00|          Vendas|    2015-10-17|
| 16|   Rosana Rocha|Vendedora|3000.00|          Vendas|    2010-09-04|
|  3|    Celia Silva|Vendedora|3500.00|          Vendas|    2011-02-07|
| 10|   Paula Priore|Vendedora|3500.00|          Vendas|    2014-03-07|
|  9|   Amanda Nunes|Vendedora|3500.00|          Vendas|    2014-02-28|
|  2|   Bruno Garcia|Instrutor|4000.00|     Treinamento|    2010-01-06|
| 11|     Carla Neto| Analista|4000.00|        Projetos|    2015-02-17|
| 20|  Samantha Reis|Vendedora|4000.00|          Vendas|    2007-12-03|
| 15|Rogerio Ribeiro|Instrutor|4000.00|     Treinamento|    2010-08-04|
| 13|  Luciana Prado| Analista|4100.00|Recursos Humanos|    2015-09-17|
|  5| Sandro Correia|Instrutor|4200.00|     Treinamento|    2012-02-15|
|  1|  Marcio Santos| Analista|5000.00|        Projetos|    2010-01-04|
|  7|   Cacio Farias| Analista|5100.00|        Projetos|    2012-10-25|
|  6|   Leticia Dias| Analista|5100.00|        Projetos|    2012-04-26|
| 19|Sergio Nogueira|Instrutor|5300.00|     Treinamento|    2008-10-25|
|  4|   Beatriz Dias| Gerencia|5500.00|Recursos Humanos|    2011-09-22|
| 17|Claudio Queiroz| Analista|6500.00|        Projetos|    2011-01-04|
|  8|     Cezar Maia| Gerencia|7000.00|   Administracao|    2014-02-21|
| 18|   Diego Chaves| Gerencia|7500.00|   Administracao|    2009-10-25|
+---+---------------+---------+-------+----------------+--------------+

In [41]:
from pyspark.sql.functions import avg, stddev

In [42]:
df2.select(avg('salario')).show()

+------------+
|avg(salario)|
+------------+
|      4515.0|
+------------+

In [43]:
df2.select(stddev('salario')).show()

+--------------------+
|stddev_samp(salario)|
+--------------------+
|    1347.22912520086|
+--------------------+

In [45]:
df2.select(stddev('salario').alias('std')).show()

+----------------+
|             std|
+----------------+
|1347.22912520086|
+----------------+

In [52]:
from pyspark.sql.functions import hour, dayofyear, month, year

In [55]:
df2.select(
    month(
        df2['datadeadmissao']
 )
)

DataFrame[month(datadeadmissao): int]

In [59]:
df3 = spark.read.csv('colaboradores_data_missing.csv',  header=True)

In [60]:
df3

DataFrame[id: string, nome: string, cargo: string, salario: string, departamento: string, datadeadmissao: string]

In [62]:
df3.na.drop().show()

+---+---------------+---------+-------+----------------+--------------+
| id|           nome|    cargo|salario|    departamento|datadeadmissao|
+---+---------------+---------+-------+----------------+--------------+
|  1|  Marcio Santos| Analista|5000.00|        Projetos|    2010-01-04|
|  2|   Bruno Garcia|Instrutor|4000.00|     Treinamento|    2010-01-06|
|  4|   Beatriz Dias| Gerencia|5500.00|Recursos Humanos|    2011-09-22|
|  5| Sandro Correia|Instrutor|4200.00|     Treinamento|    2012-02-15|
|  7|   Cacio Farias| Analista|5100.00|        Projetos|    2012-10-25|
|  9|   Amanda Nunes|Vendedora|3500.00|          Vendas|    2014-02-28|
| 10|   Paula Priore|Vendedora|3500.00|          Vendas|    2014-03-07|
| 11|     Carla Neto| Analista|4000.00|        Projetos|    2015-02-17|
| 13|  Luciana Prado| Analista|4100.00|Recursos Humanos|    2015-09-17|
| 14| Roberta Amaral|Vendedora|2800.00|          Vendas|    2015-10-17|
| 15|Rogerio Ribeiro|Instrutor|4000.00|     Treinamento|    2010-08-04|
| 17|Claudio Queiroz| Analista|6500.00|        Projetos|    2011-01-04|
| 18|   Diego Chaves| Gerencia|7500.00|   Administracao|    2009-10-25|
| 19|Sergio Nogueira|Instrutor|5300.00|     Treinamento|    2008-10-25|
| 20|  Samantha Reis|Vendedora|4000.00|          Vendas|    2007-12-03|
+---+---------------+---------+-------+----------------+--------------+

In [65]:
df3.na.drop(thresh=6).show() # thresh traz os valores nao nulos 6 colunas nao nulas restringe bastante . se for 5 vai vir alguns como nulo. e assim por dinte, 4 ...

+---+---------------+---------+-------+----------------+--------------+
| id|           nome|    cargo|salario|    departamento|datadeadmissao|
+---+---------------+---------+-------+----------------+--------------+
|  1|  Marcio Santos| Analista|5000.00|        Projetos|    2010-01-04|
|  2|   Bruno Garcia|Instrutor|4000.00|     Treinamento|    2010-01-06|
|  4|   Beatriz Dias| Gerencia|5500.00|Recursos Humanos|    2011-09-22|
|  5| Sandro Correia|Instrutor|4200.00|     Treinamento|    2012-02-15|
|  7|   Cacio Farias| Analista|5100.00|        Projetos|    2012-10-25|
|  9|   Amanda Nunes|Vendedora|3500.00|          Vendas|    2014-02-28|
| 10|   Paula Priore|Vendedora|3500.00|          Vendas|    2014-03-07|
| 11|     Carla Neto| Analista|4000.00|        Projetos|    2015-02-17|
| 13|  Luciana Prado| Analista|4100.00|Recursos Humanos|    2015-09-17|
| 14| Roberta Amaral|Vendedora|2800.00|          Vendas|    2015-10-17|
| 15|Rogerio Ribeiro|Instrutor|4000.00|     Treinamento|    2010-08-04|
| 17|Claudio Queiroz| Analista|6500.00|        Projetos|    2011-01-04|
| 18|   Diego Chaves| Gerencia|7500.00|   Administracao|    2009-10-25|
| 19|Sergio Nogueira|Instrutor|5300.00|     Treinamento|    2008-10-25|
| 20|  Samantha Reis|Vendedora|4000.00|          Vendas|    2007-12-03|
+---+---------------+---------+-------+----------------+--------------+

In [66]:
df3.na.drop(how='any').show() # dropa ou seja ranca fora todos volores não nulos

+---+---------------+---------+-------+----------------+--------------+
| id|           nome|    cargo|salario|    departamento|datadeadmissao|
+---+---------------+---------+-------+----------------+--------------+
|  1|  Marcio Santos| Analista|5000.00|        Projetos|    2010-01-04|
|  2|   Bruno Garcia|Instrutor|4000.00|     Treinamento|    2010-01-06|
|  4|   Beatriz Dias| Gerencia|5500.00|Recursos Humanos|    2011-09-22|
|  5| Sandro Correia|Instrutor|4200.00|     Treinamento|    2012-02-15|
|  7|   Cacio Farias| Analista|5100.00|        Projetos|    2012-10-25|
|  9|   Amanda Nunes|Vendedora|3500.00|          Vendas|    2014-02-28|
| 10|   Paula Priore|Vendedora|3500.00|          Vendas|    2014-03-07|
| 11|     Carla Neto| Analista|4000.00|        Projetos|    2015-02-17|
| 13|  Luciana Prado| Analista|4100.00|Recursos Humanos|    2015-09-17|
| 14| Roberta Amaral|Vendedora|2800.00|          Vendas|    2015-10-17|
| 15|Rogerio Ribeiro|Instrutor|4000.00|     Treinamento|    2010-08-04|
| 17|Claudio Queiroz| Analista|6500.00|        Projetos|    2011-01-04|
| 18|   Diego Chaves| Gerencia|7500.00|   Administracao|    2009-10-25|
| 19|Sergio Nogueira|Instrutor|5300.00|     Treinamento|    2008-10-25|
| 20|  Samantha Reis|Vendedora|4000.00|          Vendas|    2007-12-03|
+---+---------------+---------+-------+----------------+--------------+

In [67]:
df3.na.fill(1000.00).show()

+---+---------------+---------+-------+----------------+--------------+
| id|           nome|    cargo|salario|    departamento|datadeadmissao|
+---+---------------+---------+-------+----------------+--------------+
|  1|  Marcio Santos| Analista|5000.00|        Projetos|    2010-01-04|
|  2|   Bruno Garcia|Instrutor|4000.00|     Treinamento|    2010-01-06|
|  3|    Celia Silva|Vendedora|   null|            null|    2011-02-07|
|  4|   Beatriz Dias| Gerencia|5500.00|Recursos Humanos|    2011-09-22|
|  5| Sandro Correia|Instrutor|4200.00|     Treinamento|    2012-02-15|
|  6|   Leticia Dias| Analista|   null|        Projetos|    2012-04-26|
|  7|   Cacio Farias| Analista|5100.00|        Projetos|    2012-10-25|
|  8|     Cezar Maia| Gerencia|7000.00|            null|    2014-02-21|
|  9|   Amanda Nunes|Vendedora|3500.00|          Vendas|    2014-02-28|
| 10|   Paula Priore|Vendedora|3500.00|          Vendas|    2014-03-07|
| 11|     Carla Neto| Analista|4000.00|        Projetos|    2015-02-17|
| 12|   Marcia Costa|Vendedora|   null|            null|    2015-02-17|
| 13|  Luciana Prado| Analista|4100.00|Recursos Humanos|    2015-09-17|
| 14| Roberta Amaral|Vendedora|2800.00|          Vendas|    2015-10-17|
| 15|Rogerio Ribeiro|Instrutor|4000.00|     Treinamento|    2010-08-04|
| 16|   Rosana Rocha|Vendedora|   null|          Vendas|    2010-09-04|
| 17|Claudio Queiroz| Analista|6500.00|        Projetos|    2011-01-04|
| 18|   Diego Chaves| Gerencia|7500.00|   Administracao|    2009-10-25|
| 19|Sergio Nogueira|Instrutor|5300.00|     Treinamento|    2008-10-25|
| 20|  Samantha Reis|Vendedora|4000.00|          Vendas|    2007-12-03|
+---+---------------+---------+-------+----------------+--------------+

In [68]:
from pyspark.sql.types import DoubleType

In [71]:
df3.na.fill('100.00', subset=['salario']).show()

+---+---------------+---------+-------+----------------+--------------+
| id|           nome|    cargo|salario|    departamento|datadeadmissao|
+---+---------------+---------+-------+----------------+--------------+
|  1|  Marcio Santos| Analista|5000.00|        Projetos|    2010-01-04|
|  2|   Bruno Garcia|Instrutor|4000.00|     Treinamento|    2010-01-06|
|  3|    Celia Silva|Vendedora| 100.00|            null|    2011-02-07|
|  4|   Beatriz Dias| Gerencia|5500.00|Recursos Humanos|    2011-09-22|
|  5| Sandro Correia|Instrutor|4200.00|     Treinamento|    2012-02-15|
|  6|   Leticia Dias| Analista| 100.00|        Projetos|    2012-04-26|
|  7|   Cacio Farias| Analista|5100.00|        Projetos|    2012-10-25|
|  8|     Cezar Maia| Gerencia|7000.00|            null|    2014-02-21|
|  9|   Amanda Nunes|Vendedora|3500.00|          Vendas|    2014-02-28|
| 10|   Paula Priore|Vendedora|3500.00|          Vendas|    2014-03-07|
| 11|     Carla Neto| Analista|4000.00|        Projetos|    2015-02-17|
| 12|   Marcia Costa|Vendedora| 100.00|            null|    2015-02-17|
| 13|  Luciana Prado| Analista|4100.00|Recursos Humanos|    2015-09-17|
| 14| Roberta Amaral|Vendedora|2800.00|          Vendas|    2015-10-17|
| 15|Rogerio Ribeiro|Instrutor|4000.00|     Treinamento|    2010-08-04|
| 16|   Rosana Rocha|Vendedora| 100.00|          Vendas|    2010-09-04|
| 17|Claudio Queiroz| Analista|6500.00|        Projetos|    2011-01-04|
| 18|   Diego Chaves| Gerencia|7500.00|   Administracao|    2009-10-25|
| 19|Sergio Nogueira|Instrutor|5300.00|     Treinamento|    2008-10-25|
| 20|  Samantha Reis|Vendedora|4000.00|          Vendas|    2007-12-03|
+---+---------------+---------+-------+----------------+--------------+

In [72]:
dir(df3.na)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'df',
 'drop',
 'fill',
 'replace']

In [ ]:
from pyspark.sql.types import ( 
    StructField, 
    StringType, 
    IntegerType, 
    StructType
                               )
schema = StructType(fields=[
    StructField('cargo',StringType(), nullable=True), 
    StructField('departamento',StringType(), nullable=True), 
    StructField('id_func', IntegerType(), nullable=True), 
    StructField('nome', StringType(), nullable=True),
    StructField('salario', StringType(), nullable=True)
                           ])
df  = spark.read.json('funcionarios.json', schema)

In [75]:
schema = StructType(fields=[
    StructField('id', IntegerType(), nullable=True), 
    StructField('nome', StringType(), nullable=True),
    StructField('cargo', StringType(), nullable=True),
    StructField('salario', DoubleType(), nullable=True),
    StructField('departamento', StringType(), nullable=True),
    StructField('datadeadmissao', StringType(), nullable=True) 
        
])
df4  = spark.read.csv('colaboradores_data_missing.csv', header=True, schema=schema)

In [79]:
df4.na.fill('0', subset=['departamento']).show() ALTERNE ENTRE OS VALORES PARA VER TRATAMENTO DE NULL NO DEPARTAMENTO OU 0 NO SALARIO
#df4.na.fill(0, subset=['salario']).show()

+---+---------------+---------+-------+----------------+--------------+
| id|           nome|    cargo|salario|    departamento|datadeadmissao|
+---+---------------+---------+-------+----------------+--------------+
|  1|  Marcio Santos| Analista| 5000.0|        Projetos|    2010-01-04|
|  2|   Bruno Garcia|Instrutor| 4000.0|     Treinamento|    2010-01-06|
|  3|    Celia Silva|Vendedora|   null|               0|    2011-02-07|
|  4|   Beatriz Dias| Gerencia| 5500.0|Recursos Humanos|    2011-09-22|
|  5| Sandro Correia|Instrutor| 4200.0|     Treinamento|    2012-02-15|
|  6|   Leticia Dias| Analista|   null|        Projetos|    2012-04-26|
|  7|   Cacio Farias| Analista| 5100.0|        Projetos|    2012-10-25|
|  8|     Cezar Maia| Gerencia| 7000.0|               0|    2014-02-21|
|  9|   Amanda Nunes|Vendedora| 3500.0|          Vendas|    2014-02-28|
| 10|   Paula Priore|Vendedora| 3500.0|          Vendas|    2014-03-07|
| 11|     Carla Neto| Analista| 4000.0|        Projetos|    2015-02-17|
| 12|   Marcia Costa|Vendedora|   null|               0|    2015-02-17|
| 13|  Luciana Prado| Analista| 4100.0|Recursos Humanos|    2015-09-17|
| 14| Roberta Amaral|Vendedora| 2800.0|          Vendas|    2015-10-17|
| 15|Rogerio Ribeiro|Instrutor| 4000.0|     Treinamento|    2010-08-04|
| 16|   Rosana Rocha|Vendedora|   null|          Vendas|    2010-09-04|
| 17|Claudio Queiroz| Analista| 6500.0|        Projetos|    2011-01-04|
| 18|   Diego Chaves| Gerencia| 7500.0|   Administracao|    2009-10-25|
| 19|Sergio Nogueira|Instrutor| 5300.0|     Treinamento|    2008-10-25|
| 20|  Samantha Reis|Vendedora| 4000.0|          Vendas|    2007-12-03|
+---+---------------+---------+-------+----------------+--------------+

In [82]:
df4.na.fill(0).na.fill('NAO').show() # da hora ficou bom

+---+---------------+---------+-------+----------------+--------------+
| id|           nome|    cargo|salario|    departamento|datadeadmissao|
+---+---------------+---------+-------+----------------+--------------+
|  1|  Marcio Santos| Analista| 5000.0|        Projetos|    2010-01-04|
|  2|   Bruno Garcia|Instrutor| 4000.0|     Treinamento|    2010-01-06|
|  3|    Celia Silva|Vendedora|    0.0|             NAO|    2011-02-07|
|  4|   Beatriz Dias| Gerencia| 5500.0|Recursos Humanos|    2011-09-22|
|  5| Sandro Correia|Instrutor| 4200.0|     Treinamento|    2012-02-15|
|  6|   Leticia Dias| Analista|    0.0|        Projetos|    2012-04-26|
|  7|   Cacio Farias| Analista| 5100.0|        Projetos|    2012-10-25|
|  8|     Cezar Maia| Gerencia| 7000.0|             NAO|    2014-02-21|
|  9|   Amanda Nunes|Vendedora| 3500.0|          Vendas|    2014-02-28|
| 10|   Paula Priore|Vendedora| 3500.0|          Vendas|    2014-03-07|
| 11|     Carla Neto| Analista| 4000.0|        Projetos|    2015-02-17|
| 12|   Marcia Costa|Vendedora|    0.0|             NAO|    2015-02-17|
| 13|  Luciana Prado| Analista| 4100.0|Recursos Humanos|    2015-09-17|
| 14| Roberta Amaral|Vendedora| 2800.0|          Vendas|    2015-10-17|
| 15|Rogerio Ribeiro|Instrutor| 4000.0|     Treinamento|    2010-08-04|
| 16|   Rosana Rocha|Vendedora|    0.0|          Vendas|    2010-09-04|
| 17|Claudio Queiroz| Analista| 6500.0|        Projetos|    2011-01-04|
| 18|   Diego Chaves| Gerencia| 7500.0|   Administracao|    2009-10-25|
| 19|Sergio Nogueira|Instrutor| 5300.0|     Treinamento|    2008-10-25|
| 20|  Samantha Reis|Vendedora| 4000.0|          Vendas|    2007-12-03|
+---+---------------+---------+-------+----------------+--------------+